<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'admin_static/css/base.css' %}">

	<title>{% block title %}AdminSite{% endblock %}</title>
    {% block extra_css %}
	<style>
		#icon {
			width: 30px;
			cursor: pointer;
		}
	   
</style>
{% endblock %}

</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="{% url 'home' %}" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="{% url 'home' %}" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
			<li class="divider" data-text="User And Post">User And Post</li>
			<li>
				<a href="#"><i class='bx bxs-user-circle icon'></i> User <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="{% url 'register' %}">Add User</a></li>
					<li><a href="{% url 'view_all_users' %}">View All Users</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bxs-comment-dots icon'></i> Communication <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="{% url 'admin_post_list' %}">Posts</a></li>
					
					<li><a href="{% url 'index' %}">Chat</a></li>
                    

				</ul>
			</li>
			<li class="divider" data-text="Jobs And Support">Jobs And Support</li>
			
			<li ><a href="{% url 'admin_job_list'%}"><i class='bx bx-briefcase'></i>Manage Jobs</a></li>
			
			

			<li><a href="#"><i class='bx bxs-customize'></i>Services</a></li>
			<li class="divider" data-text="User And Post">Support</li>
			<li>
				<a href="#"><i class='bx bx-support icon'></i> Support <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="{% url 'ticket_list' %}">Ticket list</a></li>
					
					
					
					
					{% comment %} <li><a href="#">ticket detail</a></li> {% endcomment %}
					
				</ul>
			</li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar'></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon'></i>
				</div>
			</form>
			
			
	

			<span class="divider"></span>
			<div class="profile">
				<img src="{% static 'admin_static/img/profile.jpg' %}" alt="Profile">

				<ul class="profile-link">
					<li>
						<a href="{% url 'view_profile' %}">
							<i class='bx bxs-user-circle icon'></i> Profile
						</a>
					</li>
					
					<li class="divider"></li>
					<li>
						<a class="logout" href="{% url 'user_logout' %}">
							<i class='bx bxs-log-out-circle icon'></i> Logout
						</a>
					</li>
				</ul>
				
			</div>
			
		</nav>





		<!-- MAIN -->
		<main>
		
			{% block content %}
			
			{% endblock %}
		</main>
		<!-- MAIN -->
	</section>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{% static 'admin_static/js/base.js' %}"></script>
	{% block extra_js %}
	<script>

		var icon = document.getElementById("icon");
		icon.onclick = function(){
		  document.body.classList.toggle("dark-theme");
		  
		  if(document.body.classList.contains("dark-theme")){
			icon.src= "{% static 'admin_static/img/sun.png' %}";
		  }
		  else{
			 icon.src="{% static 'admin_static/img/moon.png' %}" ;
		  }
		
		}
		
	  
	  </script>
	{% endblock %}
</body>
</html>
