{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load static %}
{% block extra_css %}

<style>
    .main-container {
        width: 95%;
        background-color: white;
        margin: auto;
        border-radius: 2em;
        padding: 1em 1em;
    }
    
    .container {
        display: flex;
        align-items: center;
        margin: 1em;
    }
    
    .profile-photo-container {
        flex: 0 0 200px;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc; 
        overflow: hidden;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 10px; /* Make the profile picture rectangular */
    }
    
    .profile-photo-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .user-content-container {
        flex: 1;
        font-size: 18px;
        color: #344050;
        padding-left: 20px;
        border-left: 2px solid #ccc;
    }
    
    .user-info-box {
        background-color: #F1F0F6; 
        border: 1px solid #ccc;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
       
    }
    
    .user-info-box .user {
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .user-info-box b {
        color: #007BFF; /* Blue color for labels */
    }
    /* Link styling */
        .edit-profile-link {
            text-align:center;
            margin-left:40%;
            margin-top:50px;
            display: inline-block;
            text-decoration: none;
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 50px;
            
            justify-content: center;
            align-items: center;
          
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        /* Hover effect for link */
        .edit-profile-link:hover {
            background-color: #0056b3;
            
           
        }

       
    
    @media only screen and (max-width: 1200px) {
        .container {
            display: block;
            text-align: center;
            border-left: none;
        }
    
        .profile-photo-container {
            margin: 0 auto 20px;
        }
    
        .user-content-container {
            margin-left: 0;
            border-left: none;
            padding-left: 0;
        }
        
        
</style>
{% endblock %}
{% block content %}

<main class="main-container">
    <div class="container">
        <div class="profile-photo-container">
            <img src="{{ user.profile.profile_img.url }}" alt="User Image">
        </div>

        <div class="user-content-container">
            <div class="user-info-box">
                <p class="user"><b>NAME: </b>{{ user.profile.user }}</p>
            </div>
            <div class="user-info-box">
                <p class="email"><b>EMAIL: </b>{{ user.profile.email }}</p>
            </div>
            <div class="user-info-box">
                <p class="contact-number"><b>CONTACT NUMBER: </b>{{ user.profile.contact_number }}</p>
            </div>
            <div class="user-info-box">
                <p class="age"><b>AGE: </b>{{ user.profile.age }}</p>
            </div>
            <div class="user-info-box">
                <p class="address"><b>ADDRESS: </b>{{ user.profile.address }}</p>
            </div>
        </div>
    </div>
</main>
<a href="{% url 'editprofile' %}"  class="edit-profile-link" >Edit Profile</a>
  

{% endblock %}
